* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

canvas { 
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 5px solid black;
}
